<div color="primary">
  <div class="d-flex justify-content-between align-items-center w-100">
    <img
      class="logo"
      src="./../../../assets/images/pokemon.png"
      alt="Pokemon Logo"
    />
    <div class="buttons mx-auto">
      <!-- <button class="login-button" [routerLink]="['login']">
        <mat-icon
          aria-hidden="false"
          aria-label="Home icon"
          fontSet="fa"
          fontIcon="fa-home"
        ></mat-icon>
        <div>Login</div>
      </button> -->
      <button class="inicio-button" [routerLink]="['']">
        <mat-icon
          aria-hidden="false"
          aria-label="Home icon"
          fontSet="fa"
          fontIcon="fa-home"
        ></mat-icon>
        <div>Inicio</div>
      </button>
      <button class="pokedex-button" [routerLink]="['/pokedex']">
        <mat-icon
          aria-hidden="false"
          aria-label="Pokedex icon"
          fontSet="fa"
          fontIcon="fa-book"
        ></mat-icon>
        <div>Pokedex</div>
      </button>
    </div>
  </div>
</div>
