<div class="main">

    <div class="left">
        <div class="news news1">
            <div>
                <img src="assets/images/news/news1.png" alt="">
            </div>
            <div class="text">
                <div class="title">Inteleon comes as a breath of fresh air to teraincursions</div>
                <div class="subtitle">It will appear in stealth in Pokémon Scarlet and Pokémon Purple's Black Crystal Tera-Tricks and will be an Ice Tera-Type.</div>
            </div>
        </div>
        <div class="left-bottom">
            <div class="news news2">
                <div>
                    <img src="assets/images/news/news2.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Research the Æther Foundation with Tilo (Suit S) and Tapu Koko.</div>
                   
                </div>
            </div>
            <div class="news news3">
                <div>
                    <img src="assets/images/news/news3.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Get ready to give it your all in the 2023 Global Challenge III!</div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="news news4">
            <div>
                <img src="assets/images/news/news4.png" alt="">
            </div>
            <div class="text">
                <div class="title">Scarlet and Purple Triple Play: Dondozo, Arcanine ex and Oinkologne ex</div>
               
            </div>
        </div>
        <div class="news news5">
            <div>
                <img src="assets/images/news/news5.png" alt="">
            </div>
            <div class="text">
                <div class="title">Chandelure lights up the nights of Pokémon UNITE!</div>
               
            </div>
        </div>
        <div class="news news6">

                <img src="assets/images/news/news6.png" alt="">

            <div class="text">
                <div class="title">Flower power on Pokémon TV</div>
               
            </div>
        </div>
    </div>

</div>
