<footer class="pokemon-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="footer-heading">The Pokemon Company</h3>
        <ul>
          <li class="footer-text">Novedades</li>
          <li class="footer-text">Guía para padres y tutores</li>
          <li class="footer-text">Servicio de atención al cliente</li>
          <li class="footer-text">Sobre nuestra compañia</li>
          <li class="footer-text">Seleccionar país o region</li>
          <li class="footer-text">Sitio de prensa</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="footer-heading">Redes Sociales</h3>
        <ul class="footer-list">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="conditions">
          <li>Condiciones de uso</li>
          <li>Aviso de Privacidad</li>
          <li>Página de Cookies</li>
          <li>Información legal</li>
          <li>-------------------------------------</li>
          <li>
            ©2023 Pokémon. ©1995 - 2023 Nintendo/Creatures Inc./GAME FREAK inc.
            TM, ®Nintendo.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
